.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: 100%;
  background-position: center;
  font-family: "Carter One", cursive;
  font-size: xx-large;
  color: white;
  filter: drop-shadow(-3px 4px 2px black);
}

.gofort {
  filter: drop-shadow(2px 2px 1px navy);
}
